@media screen and (max-width: 920px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    justify-content: center;
  }
  .bird {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
  }
  ul {
    width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
  }
  .search {
    width: 100vw;
  }
}
